[Desktop Entry]
Type=Application
Exec=imwheel --kill --buttons "4 5"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Imwheel
Name=imwheel
Comment[en_US]=Imwheel settings
Comment=Imwheel settings
